.page-settings {
    height: 100vh;
    background-color: #211e20;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    overflow-x: auto; 
    padding: 1rem; 
    color: #e9efec;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;;
}
